@charset "EUC-KR";
#logoLine{
		border: 0px;
		height: 30px;
		background-color: black;
		border-radius: 5px;
	}
 	#contentsArea{
		width: auto;
		height: auto;
		text-align: center;
	}
	
	#upperArea{
		width: auto;
		height: auto;
		display: inline-block;
	}

	#loginArea{
		box-sizing: border-box;
		width: 300px;
		height: 200px;
		margin: 20px;
		border: 2px solid black;
		border-radius: 10px;
		padding: 2%;
		float: left;
		text-align: left;
	}
	#NoticeArea{
		box-sizing: border-box;
 		width: 800px;
		height: 200px;
		margin: 20px;
		border: 2px solid black;
		border-radius: 10px;
		padding: 2%;
		float: left;
	}
	
	#surveyArea{
		box-sizing: border-box;
		width: 800px;
		height: auto;
		margin: 20px;
		border-right: solid 2px black;
  		border-left: solid 2px black;
		padding: 3%;
	}
	.SirBay{
	display:block;
    margin:0px auto;
	}
	.login-Button{
	    left: 173px;
	}
	
	.register-Button{
		bottom: 53px;
	    left: 73px;

	}
	.input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
    
    
    .radio-Button{
        padding-bottom: 10px;
    }
    
    /* 마이페이지 css 시작 */
    
    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

    .back:hover {
        color: #682773;
        cursor: pointer
    }
    
    .labels {
        font-size: 15px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
    
    .unregister {
    	margin-bottom: 20px;
    }
    
	.input-form-mypage {
      margin:0 auto;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
    
    /* 마이페이지 css 끝 */
